# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/
tmp/
temp/
.cache/
.next/
out/

# Vite build output
client/dist/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
*.log.*

# Zone.Identifier files (Windows-specific metadata)
*.Zone.Identifier

# Ignore compiled files and temporary files
client/src/**/*.css.map
client/src/**/*.js.map
client/src/**/*.jsx.map
server/src/**/*.js.map